body {
    padding-top: 50px;
    overflow: hidden;
}
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 4px ridge #eee;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
}
#sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
}
/*@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
  		border-right:0;
	}
}*/

.quizwrapper{
  position:absolute;
  top:0;
  bottom:30%;
  width:100%;
  overflow-y: auto;
  padding:5px;
}

.messagewrapper{
  border-top: 4px ridge #eee;
  position: absolute;
  bottom: 38px;
  width: 100%;
  top: 70%;
  overflow-y: auto;
}
.inputwrapper{
  position: absolute;
  bottom:0px;
  width: 100%;
  padding:1px;
}
#chatmessage{
  width: 75%;
  display: inline-block;
  vertical-align: middle;
}
#chatsend{
  width: 20%;
  float: right;
  min-width: 34px;
}
.login-buttons-dropdown-align-right {
    float: right;
}
.login-buttons-dropdown-align-right#login-buttons + li .dropdown-menu{
  right:19px;
}
.dropdown-toggle{
  margin-right: 15px;
  right:4px;
}
button h2{
  margin:0;
}
