body {
    padding-top: 50px;
}
/*@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
  		border-right:0;
	}
}*/


.login-buttons-dropdown-align-right {
    float: right;
}
.login-buttons-dropdown-align-right#login-buttons + li .dropdown-menu{
  right:19px;
}
.dropdown-toggle{
  margin-right: 15px;
  right:4px;
}
button h2{
  margin:0;
}
.form-inline .form-group{
  padding-left:10px;
  padding-right:10px;
}

.mustrespond{
  color:red;
}

.truth{
  border-radius:5px;
  background-color: #b2ffb2;
  padding:5px;
}

.lie{
  border-radius:5px;
  background-color: #ffb2b2;
  padding:5px;
}

.webcamHolder{
  position:relative;
  display:inline-block;
}

.webcamControls{
  right: 5px;
  position: absolute;
  top: 5px;
  z-index: 10;
}

.flipY video{
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv; /*IE*/
}

a.dropdown-toggle{
  left:0px;
}

